* {
    font-size: 30px;
    font-weight: bold;
}

h1 {
    font-family: 'RammettoOne-Regular';
}

#first{
    font-family: 'RammettoOne-Regular';
    font-size: .5em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
}

#second{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-size: 30px;
    text-transform: lowercase;
    text-decoration: line-through;
    line-height: 200%;
}

#third{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fourth{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

q{
    font-family: fantasy;
}

span{
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'RammettoOne-Regular';
    src: url('RammettoOne-Regular.ttf');
}

li a{
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.69); 
    /*color: greenyellow;*/
}

a:link {
    color: yellow;
}
a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: green;
}
a:active {
    color: blue;
}

/*tr:nth-child(2n+1){
    background-color: red;
}
tr:nth-child(2){
    background-color: yellow;
}*/
table {
    width: 100%;
}

td:nth-child(2n+1){
    background-color: red;
}
td:nth-child(2n+2){
    background-color: yellow;
}