@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
p{
    background-color: yellow;
    border-width: 5px;
}

.inline{
    margin-right: 20px;
    display: inline-block;
    width:30%;
}
#hidden{
    visibility: hidden;
}
#hiddenhover:hover{
    visibility: hidden;
}
#header{
    width: 960px;
    margin: 50px auto 50px auto;
    text-align: center;
    background-color: aqua;
    padding-top: 50px;
    padding-bottom: 50px;
    color: pink;
    -webkit-box-shadow: 6px 9px 33px -6px rgba(0,0,0,0.57);
    -moz-box-shadow: 6px 9px 33px -6px rgba(0,0,0,0.57);
    box-shadow: 6px 9px 33px -6px rgba(0,0,0,0.57);
    font-family: "Rammetto One", cursive;
}