
div{
    background-color: green;
}
#first{
    background-color: yellow;
    max-width:300px;
    min-height: 50px;
    overflow: hidden;
}

#second{
    background-color: red;
    width:600px;
    max-height: 200px;
    overflow: scroll;
}